@model List<Producto>
@{
    ViewData["Title"] = "Acceso denegado";
}

<div class="container bg-light p-4">
    <h2>Acceso Denegado</h2>
    <p>No tienes los permisos necesarios.</p>
    <p><a class="btn btn-outline-primary" asp-action="Login">Iniciar Sesion</a></p>
</div>
